/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a:link, a:visited {
    text-decoration: none;
    color: white;
}

.cfButton {
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.cfButton1 {
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.cfButton:hover, .cfButton1:hover {
    color: #4CAF50 !important;
    border: 1px solid #4CAF50;
    background-color: white;
}

.cfButton1:hover a {
    color: #4CAF50 !important;
}

.cfButton:hover a {
    color: #4CAF50 !important;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin: 0 !important;
}
